httpx
fastapi
pydantic
uvicorn[standard]
docker
requests
pandas
pyyaml
greenlet
alembic
python-dotenv
numpy
packaging
debugpy
sniffio
apscheduler[psycopg,sqlalchemy,asyncpg]==4.0.0a5
PyJWT[crypto]
python-multipart
scikit-learn
isodate